/* Defaults */

* {
    font-family: 'Barlow',sans-serif;
    color: white;
}
html,
body {
    background-color: #0E62EB;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position:relative;
}

footer{
    padding:10px;
    margin-top: 10%;
    background-color: #1C46FF;
    position:absolute;
    bottom: 0;
    width: 100%;
}


.align-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */

.nav-link {
    text-decoration: none;
    color: white;
}

.navbar-brand{
    font-size: 1.5rem;
}


/* TODO */
.todo {
    width: 80%;
    margin: auto;
    padding: 3%;
    border-radius: 10px;
    border: solid 4 px ;
}

.todo-outer {
    padding:3% 0 3% 0;  
}

.todo-header {
    font-weight: 500;
    font-size: 2.5rem;
}

.todo-manage {
    margin-right: 0;
    margin-left: auto;
}

.todo-link {
    text-decoration: none;
    color: white;
}
.todo-text {
    padding: 0 10px 0 10px;
    font-size: 1.25rem;
    font-weight: 500;
}

.todo-footer {
    position: relative;
}

.todo-form-task{
    width:95%;
    margin-left:0;
    margin-right: auto;
}

.todo-form-task-prev{
    width:90%;
    margin-left:0;
    margin-right: auto;
}
.todo-form-submit {
    position: absolute;
    bottom: 0;
    right: 0;
}

.todo-form-btn-disabled {
    pointer-events: none;
}

.todo-summary {
    padding: 0 10px 0 10px;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

/* Background */
.bg-darker {
    background-color: #1C46FF;
}

.bg-lighter {
    background-color: #0E62EB;
}


/* Login and Register forms */

.login {
    padding: 180px 0 180px 0;
    width: 70%;
    margin: auto;
}


.form-field {
    margin: 10px;
}

.login-form {
    width: 80%;
    margin: auto;
    padding: 30px;
}



/* Preview -> homepage */

.todo-preview {
    padding-top:2rem;
    padding-bottom: 2rem;
    
}

.homepage-padding {
    padding-left: 20%;
    padding-top: 10%;
    
}

.container-preview {
    padding-top: 50px;
}

.homepage-header {
    font-size: 5rem;
    font-weight: 600;
}

.homepage-desc {
    font-size: 4rem;
    font-weight:300;
}

.homepage-buttons {
    padding-top: 3%;
}

.homepage-btn {
    margin: 0 1rem 0 0 ;
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-complete {
    width: 15%;
}

.btn-complete-prev {
    width: 15%;
}

.btn-darker {
    background-color: #1C46FF;
    border-color: #1C46FF;
    color: white;
}
.description-p {
    width: 40%;
    font-size: 1.2rem;
    margin: 1.5rem auto 1.5rem auto;
    text-align: justify;
    text-justify: inter-word;
}




/* Mobile friendly */
@media screen and (max-width:1520px) {
    .todo-form-task {
        width: 90%;
    }
    .todo-form-task-prev{
        width:80%;
        margin-left:0;
        margin-right: auto;
    }
    .btn-complete-prev {
        width: 25%;
    }

}


@media screen and (max-width:600px) {
    .todo {
        width: 95%;
    }
    .login {
        width: 95%;
        padding: 20% 0 20% 0;
    }

    .login-form {
        width: 80%;
    }

    .todo-text {
        font-size: 0.9rem;
    }
    .todo-header{
        font-size: 1rem;
    }

    .homepage-header {
        font-size: 4rem;
    }
    
    .homepage-desc {
        font-size: 3rem;
    }

    .homepage-padding{
        padding-left: 10%;
    }

    .homepage-btn {
        width: 6rem;
        height: 3rem;
        font-size: 1rem;
    }
    
    .description-p {
        width: 80%;
    }

    .btn-complete {
        width: 30%;
    }
}


::-webkit-scrollbar {
    width: 1vw;
    height: 2.3vh;
}

::-webkit-scrollbar-track {
    background-color: #1C46FF;
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: -30px;
    
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1C46FF;
}