{% include "header.html" %}

<section id="preview">
    <div class="container-fluid bg-lighter">
        <div class="row">
            <div class="col-md-6">
                <div class="homepage-padding">
                    <h1 class="homepage-header"><i class="fa-solid fa-list-check"></i>todo</h1>
                    <h2 class="homepage-desc">Your tasks management</h2>
                    <div class="homepage-buttons">
                        <!-- <a href="#"><div class="btn btn-light homepage-btn text-center"><div class="btn-text">Sign Up</div></div></a> -->
                        <a href="{{url_for('register')}}"><button class="btn btn-light homepage-btn">Sign Up</button></a>
                        <a href="{{url_for('login')}}"><button class="btn btn-darker homepage-btn">Log In</button></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="todo-preview">
                    <h1 class="text-center" style="font-weight: 600; margin: 30px;">Check out the preview   </h1>
                    <div class="todo bg-darker">
                        <div class="todo-header">
                            <h1>Tasks</h1>  
                        </div>
                        <hr>
                        <div class="todo-body">
                            
                            
                            <div class="todo-task align-inline">
                                
                                <div class="todo-text">
                                    Do homework
                                </div>
                                <div class="todo-manage">
                                    <a style="color: green;" href="#" class="todo-link"><i class="fa-solid fa-check"></i></a> / <a href="#" class="todo-link"><i class="fa-solid fa-circle-minus"></i></a>
                                </div>
                                
                            </div>
                            
                            <div class="todo-task align-inline">
                                
                                <div class="todo-text">
                                    Walk the dog
                                </div>
                                <div class="todo-manage">
                                    <a style="color: green;" href="#" class="todo-link"><i class="fa-solid fa-check"></i></a> / <a href="#" class="todo-link"><i class="fa-solid fa-circle-minus"></i></a>
                                </div>
                                
                            </div>
                            
                            <div class="todo-task align-inline">
                                
                                <div class="todo-text">
                                    Find a new job
                                </div>
                                <div class="todo-manage">
                                    <a style="color: red;" href="#" class="todo-link"><i class="fa-solid fa-check"></i></a> / <a href="#" class="todo-link"><i class="fa-solid fa-circle-minus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="todo-summary">
                            (3/3)
                        </div>
        
                        <hr>
                        
                        <div class="todo-footer">
                            <form method="post" class="align-inline" role="form">
                                <div class="todo-form-task-prev">
                                     <div class="form-group  required"><label class="control-label" for="task"></label>
                                        <input class="form-control" id="task" name="task" required="" type="text" value="">
                                    </div>
                                </div>
                                <div class="todo-form-submit">
                                    <input class="btn btn-success todo-form-btn-disabled" id="submit" name="submit" type="submit" value="Add">
                                </div>
                            </form>
                        </div>
                        <div style="text-align: right; margin-top: 10px;">
                            <a href="#">
                                <div class="btn btn-warning btn-complete-prev todo-form-btn-disabled">Complete</div>
                            </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr style="width:50%; color:white;margin: 20px auto 20px auto;height: 2px;">
<section id="description">
    <div class="container-fluid">
        <h1 class="text-center" style="font-weight: 600;"> How to use?</h1>
        <p  class="description-p">Using <strong>tasks</strong> is very simple! At first <strong> register </strong> on our website and next <strong> add your </strong>tasks. On right side of tasks menu You can see 2 buttons, first one shows state and and second one gives you ability to <strong> remove</strong> any task.</p>
        <div style="height: 100px;"></div>
    </div>
</section>


{% include "footer.html"%}