{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<div class="conatiner-fluid bg-lighter">
    <form method="post" role="form" action="{{url_for('login')}}" >
        <div class="login">
            <h1 class="text-center">
                Log In
            </h1>
            <div class="login-form">
                <div class="form-field">
                    {{ wtf.form_field(form.login)}}
                </div>
                <div class="form-field">
                    {{ wtf.form_field(form.password)}}
                </div>
                <div class="form-field">
                    {{ wtf.form_field(form.submit,button_map={"submit":"primary"})}}
                </div>  
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor%}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </form>
    
</div>





{% include "footer.html"%}