{% import "bootstrap/wtf.html" as wtf%}
{% include "header.html" %}

<div class="container-fluid bg-lighter">

    <!-- for todo in user[todo] -->


    <!-- previev -->
    <div class="outer">
        <div class="todo bg-darker">
            <div class="todo-header">
                <h1>Tasks</h1>
            </div>
            <hr>
            <div class="todo-body">
                {% if current_user.tasks | length == 0 %}
                <h2 style="padding: 40px;" class="todo-text text-center">Empty</h2>
                {% endif %}
                {% for task in current_user.tasks %}
                <div class="todo-task align-inline">
                    {% if task.is_active == True %}
                    <div class="todo-text">
                        <h5>{{task.task}}</h5>
                    </div>
                    <div class="todo-manage">
                        <h5><a style="color: green;" href="{{url_for('change_task_state',task_id=task.id)}}" class="todo-link"><i class="fa-solid fa-check"></i></a> / <a href="{{url_for('remove_task',task_id=task.id)}}      " class="todo-link"><i class="fa-solid fa-circle-minus"></i></a> </h5>
                    </div>
                    {% elif task.is_active == False %}
                    <div class="todo-text">
                        <h5>{{task.task}}</h5>
                    </div>
                    <div class="todo-manage">
                        <h5><a style="color: red;" href="{{url_for('change_task_state',task_id=task.id)}}" class="todo-link"><i class="fa-solid fa-xmark"></i></a> / <a href="{{url_for('remove_task',task_id=task.id)}}" class="todo-link"><i class="fa-solid fa-circle-minus"></i></a> </h5>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
                
            <hr>
            <div class="todo-footer">
                <form method="post" class="align-inline" role="form" action="{{url_for('add_task')}}">
                    {{ form.hidden_tag() }}
                    <div style="width:90%; margin-left:0;margin-right: auto; vertical-align: middle;">
                        {{wtf.form_field(form.task)}}
                    </div>
                    <div class="todo-form-submit">
                        {{wtf.form_field(form.submit,button_map={'submit':"success"})}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>




{% include "footer.html"%}